In [17]:
import pandas as pd
import sqlite3

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
connect_sql = sqlite3.connect('/content/drive/MyDrive/checking-logs.sqlite')

In [24]:
pd.read_sql('PRAGMA table_info(pageviews);', connect_sql)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

In [25]:
pd.read_sql('select * from pageviews limit 10', connect_sql)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

In [30]:
pd.read_sql('select t.uid, t.datetime from pageviews t', connect_sql)

          uid                    datetime
0     admin_1  2020-04-17 12:01:08.463179
1     admin_1  2020-04-17 12:01:23.743946
2     admin_3  2020-04-17 12:17:39.287778
3     admin_3  2020-04-17 12:17:40.001768
4     admin_1  2020-04-17 12:27:30.646665
...       ...                         ...
1075  user_25  2020-05-21 23:23:49.995349
1076  admin_1  2020-05-21 23:49:22.386789
1077  admin_1  2020-05-22 10:36:14.662600
1078   user_5  2020-05-22 11:30:18.368990
1079  user_17  2020-05-22 18:22:22.847815

[1080 rows x 2 columns]

In [33]:
pd.read_sql("select t.uid, t.datetime from pageviews t where t.uid like 'user%'", connect_sql)

         uid                    datetime
0    user_30  2020-04-17 22:46:26.785035
1    user_14  2020-04-18 10:53:52.623447
2    user_17  2020-04-18 10:56:55.833899
3    user_14  2020-04-18 10:57:37.331258
4    user_17  2020-04-18 12:05:48.200144
..       ...                         ...
982  user_28  2020-05-21 18:45:20.441142
983  user_19  2020-05-21 23:03:06.457819
984  user_25  2020-05-21 23:23:49.995349
985   user_5  2020-05-22 11:30:18.368990
986  user_17  2020-05-22 18:22:22.847815

[987 rows x 2 columns]

In [34]:
pd.read_sql("select * from pageviews ORDER BY  uid", connect_sql)

      index      uid                    datetime
0        72  admin_0  2020-04-22 10:45:25.601360
1        73  admin_0  2020-04-22 11:07:51.370397
2       975  admin_0  2020-05-15 15:01:23.247104
3         0  admin_1  2020-04-17 12:01:08.463179
4         1  admin_1  2020-04-17 12:01:23.743946
...     ...      ...                         ...
1075    122  user_30  2020-04-29 16:51:21.877630
1076    247  user_30  2020-05-09 20:30:47.034282
1077   1078   user_5  2020-05-22 11:30:18.368990
1078   1070   user_9  2020-05-21 16:28:28.217529
1079   1071   user_9  2020-05-21 16:36:40.915488

[1080 rows x 3 columns]

In [36]:
pd.read_sql("select t.datetime from pageviews t", connect_sql)

                        datetime
0     2020-04-17 12:01:08.463179
1     2020-04-17 12:01:23.743946
2     2020-04-17 12:17:39.287778
3     2020-04-17 12:17:40.001768
4     2020-04-17 12:27:30.646665
...                          ...
1075  2020-05-21 23:23:49.995349
1076  2020-05-21 23:49:22.386789
1077  2020-05-22 10:36:14.662600
1078  2020-05-22 11:30:18.368990
1079  2020-05-22 18:22:22.847815

[1080 rows x 1 columns]

In [51]:
pd.read_sql("select CAST(t.datetime as DatetimeIndex) from pageviews t", connect_sql)

      CAST(t.datetime as DatetimeIndex)
0                                  2020
1                                  2020
2                                  2020
3                                  2020
4                                  2020
...                                 ...
1075                               2020
1076                               2020
1077                               2020
1078                               2020
1079                               2020

[1080 rows x 1 columns]

In [56]:
a = pd.read_sql('select * from pageviews', connect_sql)
a

      index      uid                    datetime
0         0  admin_1  2020-04-17 12:01:08.463179
1         1  admin_1  2020-04-17 12:01:23.743946
2         2  admin_3  2020-04-17 12:17:39.287778
3         3  admin_3  2020-04-17 12:17:40.001768
4         4  admin_1  2020-04-17 12:27:30.646665
...     ...      ...                         ...
1075   1075  user_25  2020-05-21 23:23:49.995349
1076   1076  admin_1  2020-05-21 23:49:22.386789
1077   1077  admin_1  2020-05-22 10:36:14.662600
1078   1078   user_5  2020-05-22 11:30:18.368990
1079   1079  user_17  2020-05-22 18:22:22.847815

[1080 rows x 3 columns]

In [57]:
connect_sql.close()